* {
  margin:0;
  padding:0;
}
body {
  background: #eee;
  font-family: helvetica;
  font-size: 16px;
}
.container {
  width:800px;
  margin: 0 auto;
}

.instagram-photo {
  float:left;
  margin: 5px;
}

.pure-box-overlay {
  background:rgba(0,0,0, 0.8);
  width:100%;
  height: 100%;
  position:fixed;
}

.pure-box-overlay-inner {
  margin: 20px auto 0 auto;
  width: 80%;
  height: 80%;
}
.pure-box-overlay .pure-box-image {
  background-size: contain;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
}
.pure-box-overlay .pure-box-caption {
  padding:5px 10px;
  color: #fff;
  text-align: center;
}
.pure-box-overlay .next-prev {
  position: absolute;
  height: 100%;
  width: 80px;
  color: #fff;
  opacity: .7;
}

.pure-box-overlay .next-prev:hover {
  background:rgba(0,0,0, 0.2);
  opacity: .8;
  cursor: pointer;
}

.pure-box-overlay .prev {
  top:0;
  left:0;
}

.pure-box-overlay .next {
  top: 0;
  right:0;
}
.pure-box-overlay span.next {
  float: right;
}
.pure-box-overlay span.prev {
  float: left;
}

.pure-box-overlay .next-prev span {
  padding:20px;
  font-size:50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
