* {
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body {
  background: #eee;
  font-family: helvetica;
  font-size: 16px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  padding:10px;
}

h1 a {
  color:#40474A;
  text-Shadow: 1px 1px 0px #6FE192, 2px 2px 0px rgba(107, 37, 207,.8);
  text-decoration: none;
}

#giphyFeed {
  margin-bottom:50px;
}

.giphy-search-form {
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.17);
}

.giphy-search-form input {
  padding: 0 10px;
  height: 60px;
  width: 100%;
  font-size: 26px;
  color: #555;
  border: none;
  border-radius: 0;
}

.giphy-search-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  background: #566872;
  color: #fff;
  line-height: 60px;
  font-size: 20px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
}

.container {
  width:100%;
  padding: 10px;
}

#giphyFeed .column {
  float: left;
}
#giphyFeed img {
  display: block;
  width:100%;
  height: auto;
}
.photo-container {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);
}

.pure-box-overlay {
  z-index: 100;
  background:rgba(0,0,0, 0.8);
  width:100%;
  height: 100%;
  position:fixed;
}

.pure-box-overlay-inner {
  margin: 10px auto 0 auto;
  width: 100%;
  height: 80%;
}
.pure-box-overlay .pure-box-image {
  background-size: contain;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
}
.pure-box-overlay .pure-box-caption {
  color: #fff;
  padding: 15px 5px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.pure-box-overlay .next-prev {
  position: absolute;
  height: 100%;
  width: 80px;
  color: #fff;
  opacity: .7;
  cursor: pointer;

}

.pure-box-overlay .next-prev:hover {
  opacity: .9;
}

.pure-box-overlay .prev {
  top:0;
  left:0;
}

.pure-box-overlay .next {
  top: 0;
  right:0;
}
.pure-box-overlay span.next {
  float: right;
}
.pure-box-overlay span.prev {
  float: left;
}

.pure-box-overlay .next-prev span {
  padding:20px;
  font-size:40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}
